{% extends "base.html" %}
{% load static %}

{% block title %}Início{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="content">
    <div class="container">
        <div class="alert alert-info">
            Usuários encontrados [{{ usuarios|length }}]
        </div>

        <div class="row font-weight-bold mb-2">
            <h5 class="col-md-2">Usuário</h5>
            <h5 class="col-md-4">e-mail</h5>
            <h5 class="col-md-3">Aniversário</h5>
            <h5 class="col-md-3">Ações</h5> </div>

        <hr>

        {% for usuario in usuarios %}
            <div class="row mb-2 align-items-center"> <div class="col-md-2">
                    <span>{{ usuario.user.username }}</span>
                </div>
                <div class="col-md-4">
                    <span>{{ usuario.user.email }}</span>
                </div>
                <div class="col-md-3">
                    <span>{{ usuario.aniversario|default:"Não informado" }}</span>
                </div>
                
                <div class="col-md-3">
                    <a href="{% url 'edit_usuario' usuario.id %}" class="btn btn-warning btn-sm">
                        Editar
                    </a>
                </div>
            </div>
        {% empty %}
            <div class="row">
                <div class="col-12 text-muted">
                    Nenhum usuário cadastrado.
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}